{% extends "blog/base.html" %}
{% load static %}

{% block title %}
    Create a new Blog Category!
{% endblock %}

{% block content %}
    

{% if user.is_authenticated %}
    <h1>Add Category...<h1>
        <br>
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Add Category</button>
    </div>
{% else %}
"You are not authourized to perform this operation"
{% endif %}

{% endblock %}