{% extends "blog/base.html" %}


{% block title %}
    Edit Profile Page!
{% endblock %}

{% block content %}
    

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1>Edit Profile Page...<h1>
            <br>
        <div class="mb-3">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Update Profile Page</button>
        </div>

   
{% else %}
"You are not the right user to edit this page"
{% endif %}
{% else %}
    "You are not authourized to perform this operation"
{% endif %}

{% endblock %}