{% extends "blog/base.html" %}  <!-- Extends the base.html template from the "blog" app -->

{% load static %}  <!-- Loads the static files for this template -->

{% block title %}  <!-- Defines a block named "title" -->
    Create A New Blog Post!  <!-- Content for the "title" block -->
{% endblock %}  <!-- Ends the "title" block -->

{% block content %}  <!-- Defines a block named "content" -->
    

{% if user.is_authenticated %}  <!-- Checks if the user is authenticated -->
    <h1>Add Blog Post...<h1>  <!-- Heading for the blog post creation section -->
        <br>
    <div class="mb-3 fs-4">  <!-- Container div with CSS classes -->
        <form method="POST" enctype='multipart/form-data'>  <!-- Form for creating a new blog post -->
            {% csrf_token %}  <!-- CSRF protection token -->
            {{ form.media }}  <!-- Renders any media needed by the form -->
            {{ form.as_p }}  <!-- Renders the form fields as HTML paragraphs -->
            <button type="submit" class="btn btn-secondary">Post</button>  <!-- Submit button for the form -->
    </div>

    <script>
        var name = "{{ user.id }}";  <!-- Stores the user's ID in a JavaScript variable -->
        document.getElementById("elder").value = name;  <!-- Sets the value of an element with ID "elder" to the user's ID -->
    </script>
{% else %}
"You are not authorized to perform this operation"  <!-- Message displayed when the user is not authenticated -->
{% endif %}

{% endblock %}  <!-- Ends the "content" block -->
