{% extends "blog/base.html" %}  <!-- Extends the base.html template from the "blog" app -->

{% load static %}  <!-- Loads the static files for this template -->

{% block title %}  <!-- Defines a block named "title" -->
    {{ post.title_tag }}  <!-- Uses the value of post.title_tag as the content for the "title" block -->
{% endblock %}  <!-- Ends the "title" block -->

{% block content %}  <!-- Defines a block named "content" -->
    

    <h1>{{ post.title }} </h1>  <!-- Displays the title of the blog post -->
    <small>By: 
        {{ post.author.first_name }}  
        {{ post.author.last_name }}  -  
        {{ post.post_date }}  <!-- Displays the author's name and post date -->

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
               - <a href="{% url 'update_post' post.pk %}">(Edit)</a>  <!-- Shows an "Edit" link if the user is the author of the post -->
               <a href="{% url 'delete_post' post.pk %}">(Delete)</a>  <!-- Shows a "Delete" link if the user is the author of the post -->
            {% endif %}
        {% endif %}
    </small><hr>
    <br>
    <br>

    {% if post.header_image %}
        <img src='{{ post.header_image.url }}'>  <!-- Displays the header image of the blog post if it exists -->
    {% endif %}

    <br/><br/>
    {{ post.body|safe }}  <!-- Renders the post's body content (HTML) -->

    <br>
    <br>

    <a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>  <!-- Displays a "Back" button linking to the home page -->

    <br><br>
    <hr>
    <br>

    <form action="{% url 'like_post' post.pk %}" method="POST">  <!-- Form for liking a post -->
        {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name='post_id', value='{{ post.id }}', class="btn btn-danger btn-sm">Unlike</button>  <!-- Displays an "Unlike" button if the user has already liked the post -->
        {% else %}
            <button type="submit", name='post_id', value='{{ post.id }}', class="btn btn-primary btn-sm">Like</button>  <!-- Displays a "Like" button if the user has not yet liked the post -->
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Login</a>Login to like</small>  <!-- Displays a login link for unauthenticated users to like the post -->
    {% endif %}
            -  {{ total_likes }} Likes  <!-- Displays the total number of likes for the post -->
    </form>

    <br/><br/><br/>
    <h2>Comments...</h2>
    {% if not post.comments.all %}
        No Comments Yet... <a href='#'>Add One</a>  <!-- Displays a message and a link to add a comment if there are no comments yet -->
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - 
            <small>{{ comment.date_added }}</small>
        </strong>
        <br/>
        <hr>
        {{ comment.body }}  <!-- Displays the comments -->
        <br/>       
}
        <br/>
        <hr>
        {% endfor %}
    {% endif %}

    <br/><br/>
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-2">
    {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
    {% else %}
        <img src="{% static 'blog/images/profilePic.png' %}" class="img-fluid rounded-start" alt="...">
    {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">
                {{ post.author.first_name }}  
                {{ post.author.last_name }}
            </h5>
            <p class='small text-muted'>

                {% comment %} <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page </a> | {% endcomment %}

                {% if post.author.profile.website_url %}
                    <a href="{{ post.author.profile.website_url }}">Website</a> | 
                {% endif %}

                {% if post.author.profile.facebook_url %}
                    <a href="{{ post.author.profile.facebook_url }}">Facebook</a> | 
                {% endif %}

                {% if post.author.profile.twitter_url %}
                    <a href="{{ post.author.profile.twitter_url }}">Twitter</a> | 
                {% endif %}

                {% if post.author.profile.instagram_url %}
                    <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
                {% endif %}
            </p>
              <p class="card-text">
                {{ post.author.profile.bio }}
              </p>
              
            </div>
          </div>
        </div>
      </div>


      <br/><br/>
<h2>Comments...</h2>
    {% if not post.comments.all %}
        No Comments Yet... <a href='{% url "add_comment" post.pk %}'>Add One</a>
        {% else %}
      <a href='{% url "add_comment" post.pk %}'>Add Comment</a>
      <br><br/>
        {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - 
            <small>{{ comment.date_added }}</small>
        </strong>
        <br/>
        <hr>
        {{ comment.body }}
        <br/>
        <hr>
        {% endfor %}
    {% endif %}
    <br/><br/>
    <a href='{% url "add_comment" post.pk %}'>Add Comment</a>
    <br><br/>
    <br/><br/>

{% endblock %}
```