{% load static %}  <!-- Loads static files -->

<!doctype html>
<html lang="en">
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Title Block -->
    <title>
        {% block title %}  <!-- Defines the title block -->
            My Blog
        {% endblock %}
    </title>

    <!-- Tailwind and Bootstrap CSS -->
    <script src="https://cdn.tailwindcss.com"></script>  <!-- Loads the Tailwind CSS library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">  <!-- Loads the Bootstrap CSS library -->
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">  <!-- Loads custom CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">  <!-- Loads Google Fonts -->

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar bg-dark bg-body-tertiary" data-bs-theme="dark">  <!-- Creates a navigation bar -->
        <div class="container-fluid">
          <a class="navbar-brand fs-1" href="{% url 'Home' %}">Ify Blog</a>  <!-- Displays the brand/logo with a link to the home page -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              {% if user.is_authenticated %}  <!-- Checks if the user is authenticated -->

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>  <!-- Displays a link to add a new post -->
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>  <!-- Displays a link to add a new category -->
                  </li>             

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>  <!-- Displays a link to logout -->
                  </li>

              {% else %}

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>  <!-- Displays a link to the registration page -->
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>  <!-- Displays a link to the login page -->
                </li>

              {% endif %}

              
              {% if cat_menu %}  <!-- Checks if there are categories in the menu -->

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded
